@use "../custom" as *;
@use "../components/mixins" as *;

.display-2 {
    margin-bottom: 1rem;
    text-transform: capitalize;


    &--intro {
        display: inline-block;   //allows us to set width and height and the element sits next to others
        font-weight: 700;
    }

    &--description {
        display: block;
        font-size: 1rem;
    }
}